<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="consoleLayout">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow}- %m%n -</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" charset="UTF-8"/>
        </Console>
		
    </Appenders>

    <Loggers>
		
        <Root level="ALL">
            <AppenderRef ref="console"/>
        </Root>
		
    </Loggers>
</Configuration>